.purpled {
  color: purple;
  font-size: 40px;
}

.oranged {
  color: orange;
  font-size: 20px;
}

.greened {
  color: green;
  font-size: 60px;
}

p {
  font-size: 50px;
  background-color: #33AA33;
}
